page{ background: #fff;}

.wrap {
  padding: 36px;
  text-align: center;

  Image {
    width: 360px;
    height: 360px;
  }
}

.title {
  margin: 36px 0;
  color: #bbb;
  font-size: 48px;
  font-weight: bold;
}
.desc{
  margin: 32px 0;
  color: #999;
}
