@import '~@/style/val.scss';

.feed {
  background: #fff;
  margin-top: 16px;
  font-size: 28px;

  &:first-child {
    margin-top: 12px;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 12px;
  border-radius: 50%;
}

.name {
  font-size: 24px;
}

.content {
  padding: 28px 32px 0 32px;

}

.text {
  margin-top: 12px;
}

.img {
  display: block;
  width: 100%;
  // height: 560px;
  margin-top: 16px;
  // background: #f5f5f5;
}

.view {
  font-size: 22px;
  color: #aaa;
  line-height: 28px;

  :global {
    .at-icon {
      font-size: 28px;
      margin-right: 4px;
    }
  }
}

.action {
  margin-top: 16px;

  >view {
    padding: 16px 0;
    text-align: center;
    font-size: 22px;
    color: #888;

    @include active;
  }

  .actionNum {
    display: inline-block;
    margin-left: 8px;
    color: #aaa;
  }

  :global {
    .at-icon {
      font-size: 32px;
    }
  }
}

.tagList {
  margin-top: 12px;
}
