@import '~@/style/val.scss';

.commentWrap {
  // :global {
  // .at-float-layout .layout-page , .at-float-layout .layout-body  {
  //   height: 798px;
  //   min-height: auto;
  //   min-height: none;
  //   max-height: auto;
  //   max-height: none;
  // }
  // }
}

.comment {
  margin-bottom: 20px;
  margin-top: 24px;
}


.commentAvatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 16px;
  background: #f5f5f5;
}

// .commentContent {
//   margin-top: -4px;

// }

.commentName {
  // display: inline-block;
  // margin-right: 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
}

.commentTime {
  font-size: 24px;
  color: #aaa;
  line-height: 1
}

.commentIcon {
  margin-left: 20px;
  margin-top: 8px;
}
