@import '~@/style/val.scss';
.customPublish {
  position: fixed;
  right: 32PX;
  bottom: 48PX;
  margin-bottom: $tabBarHeight;
}

.wrap {
  padding: 16px 0;
}


.item {
  margin-bottom: 16px;
  padding: 32px ;
  background: #fff;

// border-bottom: 1px dashed rgba($color: #000, $alpha: 0.3);
  font-size: 28px;
}

.img {
  width: 160px;
  height: 160px;
  margin-left: 12px;
}
