$primary: #80ccff;
$color-brand: #80ccff;
$red: #ff4d4f;

$tabBarHeight : 100px;
/* Variables */
@import '~taro-ui/dist/style/variables/default.scss';

/* Mixin */
@import '~taro-ui/dist/style/mixins/index.scss';
