
@import '~taro-ui/dist/style/index.scss';

// @import "~taro-ui/dist/style/components/modal.scss";
// @import "~taro-ui/dist/style/components/action-sheet.scss";
// @import "~taro-ui/dist/style/components/fab.scss";



page {
  color: #444;
  background: #f5f5f5;
  font-size: 28px;
}

.container {
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: calc($tabBarHeight + env(safe-area-inset-bottom));
}

.content-wrap {
  padding: 32px;
}

.active {
  color: $primary;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tag {
  display: inline-block;
  margin-right: 16px;
  padding: 6px 12px;
  vertical-align: middle;
  color: #909090;
  border-radius: 6px;
  background: #f5f5f5;
  font-size: 24px;

  &:last-child {
    margin-right: 0;
  }
}

.more {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 32px;
  padding: 16px 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  font-size: 12PX;

  .at-activity-indicator {
    justify-content: center;
  }
}

.flex {
  display: flex;

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.align-top {
    align-items: flex-start;
  }

  &.align-bottom {
    align-items: flex-end;
  }

  &.align-stretch {
    align-items: stretch;
  }

  &.align-middle {
    align-items: center !important;
  }

  &.content-center {
    justify-content: center;
  }

  &.content-justify {
    justify-content: space-between;
  }

  &.content-around {
    justify-content: space-around;
  }

  &.direction-column {
    flex-direction: column;
  }
}

.flex-1,
.flex-box {
  flex: 1;
}

.text-red {
  color: $red;
}

.font-28 {
  font-size: 28px;
}
.font-24 {
  font-size: 24px;
}

.text-gray {
  color: #999;
}
.px-8 {
  padding-right: 32px;
  padding-left: 32px;
}
.py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.pa-8 {
  padding: 32px;
}
.pt-8 {
  padding-top: 32px;
}

.mb-2 {
  margin-bottom: 8px;
}
.mt-8 {
  margin-top: 32px;
}
.mt-4 {
  margin-top: 14px;
}
